#intro {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
}

.black {
	background: black;
}

.white {
	background: white !important;
	transition: all 1s;
}

#content {
	padding-top: 40vh;
	text-align: center;
	background: none;
}

.contentColor {
	background: rgba(119, 157, 160, 0.8) !important;
}

.fadeIn {
	opacity: 1 !important;
	transition: all 1s;
}

.fadeOut {
	opacity: 0;
	transition: all 1s;
}

.startInv {
	background: none;
	opacity: 0;
	color: white;
	margin: 0;
	font-size: 2rem;
	font-weight: bold;
}

.poop span {
	color: yellow;
}

.hidden {
	display: none;
}

#content img {
	vertical-align: middle;
	display: inline-block;
	width: 60%;
	height: 50%;
}

#metric {
	background: rgb(0, 0, 0, 0.8);
	overflow: hidden;
}

#metric img {
	display: block;
	width: 100%;
	opacity: 0.8;
	position: relative;
}

#content h2 {
	font-style: italic;
	margin: 0;
	padding-top: 2rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.elementFadeIn {
	-webkit-animation-name: fadeIn;
	animation-duration: 2s;
	animation-name: fadeIn;
}

#car {
	background-image: url('../../resource/image/Desert_Mountain.jpg');
}

.introDone {
	position: relative !important;
	min-height: 0 !important;
}
