#intro {
	width: 100%;
	min-height: 100vh;
	background: black;
	position: absolute;
	top: 0;
}

.white {
	background: white !important;
	transition: all 1s;
}

#content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: none;
}

.fadeIn {
	opacity: 1 !important;
	transition: all 1s;
}

.fadeOut {
	opacity: 0;
	transition: all 1s;
}

#intro div p {
	background: none;
	opacity: 0;
	color: white;
	margin: 0;
	font-size: 2rem;
	font-weight: bold;
}

#intro div p span {
	color: yellow;
}

.hidden {
	display: none;
}

#content img {
	vertical-align: middle;
}

#metric {
	background: gray;
	height: 200px;
}
